/* Css Variables */
/*Colores*/
/* Fonts*/
body {
  font-family: 'Roboto', sans-serif !important;
}
/*Css de la web*/
/*Menu*/
#ab-nav {
  background: #008641;
}
#ab-nav .nav-item a {
  color: #00be5c;
  font-weight: bold;
}
#ab-nav .nav-item.active a {
  color: white;
  position: relative;
}
#ab-nav .nav-item.active a:after {
  content: ' ';
  position: absolute;
  width: 100%;
  border-bottom: 4px solid #00be5c;
  bottom: 0;
  margin-bottom: -8px;
  left: 0;
}
